body {
    background-color: #79879d;
    color: #111111;
    font-family: sans-serif;
    margin: 10px, 100px;
}

h1, h2, p {
    text-align: center;
}

.hlavni-blok {
    width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #ecfd53;
    border-radius: 10px;
}

p {
    text-indent: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
}

img {
    border-radius: 20px;
    max-width: 100%;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
}